<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Insérer de nouveaux gossips</a>
    
    <p>
    <% gossips.each_with_index do |gossip, index| %>
      <a href="./gossips/<%=index %>/"><%= gossip.content %>
      </a>
      par <%= gossip.author %>
      <br/>
    <% end %>
    </p>
    </body>
</html>