<html>
  <head>
    <title>un potin</title>
  </head>
  <body>
    <h1>Un gossip !</h1>
    <p>Balance ton gossip via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Saisis ton nom :  <input type='text' name='gossip_author'/><br/>
      Rédige ton gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>